* {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
}

.container {
  padding: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

/* .navbar {
  position: sticky;
  top: 15px;
  z-index: 100;
  background-color: black;
  height: 60px;
  border-radius: 60px;
} */
.navbar {
  position: fixed;
  top: 20px;
  left: 15px;
  width: calc(100% - 30px);
  height: 60px;
  background-color: white;
  z-index: 1000;
  border-radius: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.navbar .button button {
  margin-left: 10px;
  padding: 2px 5px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  background-color: #ffbf23;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.main-section {
  height: 95vh;
  /* background-color: aqua; */
  border-radius: 10px 10px 0px 0px;
  border-top: 3px solid black;

  display: flex;
  justify-content: space-around;
}

.left {
  width: 60%;
  padding-top: 150px;
}
.heading {
  font-size: 60px;
  line-height: 0.8;
  padding-bottom: 30px;
}

.para {
  line-height: 2;
}

.buttons button {
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  font-size: 35px;
  border-radius: 5px;
  background-color: #ffbf23;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.right {
  padding-top: 100px;
}
.right img {
  width: 400px;
}
/* Rest pages */
.about-section {
  height: 95vh;
  background-color: #ffbf23;
  border-radius: 10px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: center;
  padding: 100px 100px 10px 100px;
}

.about-section h1 {
  font-size: 60px;
}

.box {
  display: flex;
  justify-content: space-around;
}

.box1 {
  margin: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px rgb(51, 47, 47);
}

.box1 h3 {
  font-size: 30px;
  padding: 20px 0px;
}

.box1 p {
  padding: 0px 0px 3px 0px;
  line-height: 2;
}
.services-section {
  height: 95vh;
  background-color: white;
  /* border-radius: 0 0 10px 10px;
  border-bottom: 3px solid black; */
  text-align: center;
  padding: 100px 100px 10px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-section h1 {
  font-size: 60px;
}
.services-section img {
  width: 50%;
}
.services-section p {
  padding-top: 20px;
  line-height: 2;
}

.reach-section {
  height: 95vh;
  background-color: #ffbf23;
  border-radius: 10px;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reach-section h1 {
  font-size: 60px;
}

.reach-section p {
  padding: 20px 0;
}
.reach-section img {
  width: 40%;
}

.message-section {
  height: 95vh;
  background-color: white;
  border-radius: 0 0 10px 10px;
  /* border-top: 3px solid black; */
  text-align: center;
  padding: 100px 100px 10px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-section h1 {
  font-size: 60px;
}

.form {
  margin-top: 40px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  line-height: 3;
  padding: 20px;
  border-radius: 30px;
}

.form input,
textarea {
  margin: 15px 0px;
  border-radius: 5px;
  background-color: #ffbf23;
  padding: 10px;
  border: 1px solid black;
}

.form ::placeholder {
  color: black;
  font-weight: bold;
}
.form button {
  padding: 2px 5px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  background-color: #ffbf23;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.footer {
  background-color: white;
  border-radius: 0 0 10px 10px;
  border-top: 5px solid #ffbf23;
  border-bottom: 3px solid black;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}

.footer img {
  width: 5%;
}
.footer h3 {
  padding-top: 10px;
  font-weight: bold;
}
.footer span {
  text-decoration: underline;
  background-color: #ffbf23;
}
